@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.mat-checkbox {
  margin: 20px;
}
::ng-deep .mat-checkbox-frame {
  border-color: $light-grey;
}

.date {
  margin: 15px 1px 40px 0;
  display: block;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  padding: 4px;
  width: 80px;
}
.input-date {
  display: flex;
}
.center {
  margin: 20px 5px;
}
.repeat {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Roboto;
  font-size: 16px;
  color: #114b5f;
  padding: 10px;
  width: 395px;
  border-color: rgba(155, 155, 155, 0.5);
  border-style: dotted;
  border-radius: 8px;
  background-color: #ffffff;
  letter-spacing: 1.3px;
}
.separator {
  color: rgba(155, 155, 155, 0.5);
  margin-bottom: 4%;
}
.mat-select {
  margin-top: -4px;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
}

