<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

    <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img
        src="/assets/images/save.svg" class="icon-svg"></button>
  </div>
  <p class="etatCv">Incomplet - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>
  <app-progressBar></app-progressBar>
  <form [formGroup]="formationForm" *ngIf="cv">

    <h3>Formations</h3>

    <div class="step" formArrayName="formations">
      <div *ngFor="let formation of getFormation(formationForm); let i = index">
        <div [formGroupName]="i">
          <label>Années</label>
          <div class="input-date">
            <input matInput class="date" formControlName="anneesFormationdeb" type="number" min="2000" max="2060">
            <div class="center">-</div>
            <input [attr.disabled]="chkEnable.checked == true ? true : null" matInput class="date"
              formControlName="anneesFormationfin" type="number" min="2000" max="2060" (click)="validationDate()">

            <mat-checkbox #chkEnable ngModel (click)="getDateFormation()" formControlName="anneeCourante">
              Aujourd'hui</mat-checkbox>
          </div>


          <label>Université ou école</label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="ecole">
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>

          <label>Intitulé du diplôme</label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="diplome">
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>
          <div class="separator">
            ----------------------------------------------------------------------------------------
          </div>
        </div>
      </div>
      <div>
        <button (click)="addFormation()" class="repeat"><img src="/assets/images/plus.png">
          Ajouter un diplôme supplémentaire</button>
      </div>
    </div>
  </form>
  <div>
  <cv-navigation name="formation"></cv-navigation>
</div>
</div>
<div class="btn">
  <button (click)="precedent()" class="btnprecedent">
    <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
  </button>
  <button (click)="suivant()" class="btnsuivant">
    <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
  </button>
</div>
