
<div class="add-pole">
  <span>Voulez vous supprimer le pôle?</span>
</div>
<div class="btn">
  <button class="btn-cancel" type="button" (click)="onClose()">
    Annuler
  </button>
  <button class="btn-delete" type="submit" (click)="deletePole()">ok</button>
</div>
