<div *ngIf="user">
  <h2>Mon profil</h2>
  <div><span>Adresse e-mail: </span>{{ user.email }}</div>
  <div><span>Nom: </span>{{ user.nom }}</div>
  <div><span>Prénom: </span>{{ user.prenom }}</div>
  <div class="btn">
    <button (click)="editUser(user.email, user)" mat-menu-item class="btn-creat">Editer</button>
  </div>
</div>
