@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.btn-creat{
  width: 96px;
  height: 46px;
  border-radius: 8px;
  background-color:#f7485e;
  color: white;
  cursor: pointer;
  border-color: #f7485e;;
}
