body {
  font-family: "AvenirNext";
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.row {
  justify-content: space-around;
}
.info {
  position: relative;
  width: 50%;
  font-size: 21px;
  border-right: 50px solid transparent;
  border-top: 130px solid #f8475e;
  color: white;
  font-weight: bold;
}
.info_name {
  position: absolute;
  text-transform: uppercase;
  bottom: 50px;
  font-size: 21px;
  padding-left: 54px;
}
.info_title {
  position: absolute;
  bottom: 18px;
  padding-left: 54px;
  font-size: 18px;
}
img {
  padding: 30px 0px 0px 46px;
}
.content {
  padding: 41px 80px;
  font-size: 14px;
}
p,h4,h5,h6,span {
  padding: 7px 7px;
}
h6{
  color: #011627;
}
h5{
  font-size: 12px;
}
span,p {
  overflow-wrap: break-word;
  font-size: 14px;
}
span,.gras,h5 {
  font-weight: 600;
}
h4 {
  font-weight: bold ;
  font-size: 16px;
  color: #f8475e;
}
.bloc {
  border-radius: 4px;
  border: solid 1px #d0d4d7;
}
.technologie,
.experience {
  font-size: 21px;
  margin: 0px 80px;
}
.formation,.langues {
  margin-right: 10px;
}
.formation,
.certification,
.experience {
  display: flex;
  flex-direction: row;
}
.years {
  background-color: #d0d4d7;
  font-size: 16px;
  font-weight: bold;
  width: 144px;
}
.year{
  font-size: 16px;
  font-weight: bold;
}
.diplome {
  padding: 45px 0px 0px 15px;
}
.experience-year {
  text-align: center;
  padding-top: 38px;
}
.row{
  padding-left: 15px;
  display: flex;
  justify-content: end;
}
.loisirs{
  padding-left: 13px;
}
.langue{
  padding-left: 10px;
}
.formation-text{
  width: 134px;
  background: #d0d4d7;
  margin: 0px;
  padding-left: 3px;
}
.col-form-chart {
  height: 220px;
  width: 435px;
}
.langues, .loisir{
  height: 143px;
}
.style-color{
  font-weight: 100;
  color: #011627;
}
.style-bold{
  color: #011627;
  font-weight: bold;
}
.btn {
  padding: 10px;
}
.btnsuivant {
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 167px;
  height: 46px;
  border-radius: 8px;
  right: 45px;
  padding: 0px 23px 25px 24px;
}

.suivant {
  font-size: 14px;
  padding: 12px;
}

