<html >
    <head >
      <meta charset="UTF-8" />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous"
      />
    </head>
    <body>
      <div id="contentToConvert">
      <header>
        <div class="row">
          <div class="info">
            <h5 class="info_name">{{ user.prenom }} {{ user.nom }}</h5>
            <h5 class="info_title">
              {{ cv.apropos.titre }} - {{ cv.apropos.anexperience }} ans
              d’expérience
            </h5>
          </div>
          <div class="logo">
            <img src="./assets/images/Logo3x-ConvertImage.png" />
          </div>
        </div>
      </header>
      <main>
        <div class="content d-flex justify-content-between">
          <div class="w-50">
            <div class="bloc apropos">
              <h4>A PROPOS</h4>
              <p>
                {{ cv.apropos.description }}
              </p>
            </div>
          </div>
          <div>
            <h4>Compétences clés</h4>
            <div class="col-form-chart">
              <div style="display: block" *ngIf="showChart">
                <canvas
                  baseChart
                  [data]="competenceNote"
                  [labels]="competenceLabel"
                  [legend]="polarAreaLegend"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [chartType]="polarAreaChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="bloc technologie">
          <h4>COMPETENCES TECHNOLOGIES</h4>
          <h5>Langages :</h5>
          <p>
            <label class="gras">Langages principaux: </label>
            {{ cv.technologie.langageP }}
          </p>
          <p>
            <label class="gras">Langages secondaires: </label>
            {{ cv.technologie.langageS }}
          </p>
          <h5>Bases de données :</h5>
          <p>
            {{ cv.technologie.baseDonnee }}
          </p>
          <h5>Méthodologies :</h5>
          <p>
            {{ cv.technologie.methodologie }}
          </p>
          <h5>Frameworks :</h5>
          <p>
            {{ cv.technologie.framework }}
          </p>
          <h5>Gestionnaires de versions :</h5>
          <p>
            {{ cv.technologie.git }}
          </p>
          <h5>Gestionnaires de builds :</h5>
          <p>
            {{ cv.technologie.build }}
          </p>
        </div>
        <div class="content d-flex justify-content-between">
          <div class="w-50">
            <div
              class="bloc formation"
              *ngFor="let formation of cv.formations"
            >
              <div class="years d-flex flex-column">
                <h4 class="text-center">FORMATION</h4>
                <div
                  class="experience-year d-flex flex-column justify-content-end align-items-end mr-3"
                >
                  <label class="year">
                    {{ formation.anneesFormationdeb }}-{{
                      formation.anneesFormationfin
                    }}
                  </label>
                </div>
              </div>
              <div class="diplome d-flex flex-column">
                <p>{{ formation.ecole }}</p>
                <p>{{ formation.diplome }}</p>
              </div>
            </div>
          </div>
          <div class="w-50">
            <div
              class="bloc formation"
              *ngFor="let certification of cv.certifications"
            >
              <div class="years d-flex flex-column">
                <h4 class="text-center">CERTIFICATION</h4>
                <div
                  class="experience-year d-flex flex-column justify-content-end align-items-end mr-3"
                >
                  <label class="year">
                      {{ certification.anneescertif }}
                  </label>
                </div>
              </div>
              <div class="diplome d-flex flex-column">
                  <p>{{ certification.organisme }}</p>
                  <p> {{ certification.certif }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bloc experience" *ngFor="let experience of cv.experiences">
          <div class="years d-flex flex-column">
            <h4 class="text-center">PARCOURS PROFESSIONNEL</h4>
            <div
              class="experience-year d-flex flex-column justify-content-center align-items-center"
            >
              <p class="year">
                {{ experience.moisExperiencedeb }}/{{
                  experience.anneesExperiencedeb
                }}- {{ experience.moisExperiencefin }}/{{
                  experience.anneesExperiencefin
                }}
              </p>
            </div>
          </div>
          <div class="diplome d-flex flex-column">
            <h4 class="style-color">{{ experience.entreprise }}</h4>
            <h4 class="style-bold">{{ experience.poste }}</h4>
            <p>{{ experience.description }}</p>
            <h4 class="style-bold">Environnement technique</h4>
            <p>{{ experience.technique }}</p>
            <h4 class="style-bold">Tâches principales</h4>
            <p>{{ experience.technique }}</p>
          </div>
        </div>
        <div class="content d-flex justify-content-between">
          <div class="w-50">
            <div class="bloc langues">
              <h4>LANGUES</h4>
              <div class="langue d-flex justify-content-start">
                <div *ngFor="let langue of cv.langues">
                  <div class="d-flex flex-column ">
                    <span class="text-center">{{ langue.langue }}</span>
                    <span class="text-center">{{ langue.niveau }}</span>
                    <span class="text-center">{{ langue.commentaire }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-50">
            <div class="bloc loisir">
              <h4>LOISIRS</h4>
              <div class="loisirs d-flex justify-content-start">
                <div
                  class="d-flex flex-column"
                  *ngFor="let loisir of cv.loisirs; let &quot;+&quot; = index"
                >
                  <div class="loisir d-flex flex-column width">
                    <span>{{ "+" }}{{ loisir.loisir }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>

</html>
<div class="btn">
    <button (click)="printDiv()" class="btnsuivant">
      <div class="suivant">IMPRIMER</div>
    </button>
  </div>
