<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

    <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img src="/assets/images/save.svg"
        class="icon-svg"></button>
  </div>

  <p class="etatCv">Incomplet - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>

  <app-progressBar></app-progressBar>

  <form [formGroup]="langueForm" *ngIf="cv">

    <h3>Langues</h3>

    <div class="step" formArrayName="langues">

      <div class="select" *ngFor="let currentlangue of getLangues(langueForm); let i = index">
        <div [formGroupName]="i">
          <div class="col-form-row">
            <label>{{ i + 1 }}. </label>
            <mat-form-field>
              <mat-select formControlName="langue">
                <mat-option *ngFor="let selectedlangue of langues" [value]="selectedlangue.value">
                  {{selectedlangue.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error>Le champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="niveau">
                <mat-option *ngFor="let selectedniveau of niveaux" [value]="selectedniveau.value">
                  {{selectedniveau.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error>Le champ est obligatoire</mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="input-comment">
            <input matInput placeholder="Commentaire" formControlName="commentaire">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
<div>
  <cv-navigation name="langue"></cv-navigation>
</div>
</div>
<div class="btn">
  <button (click)="precedent()" class="btnprecedent">
    <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
  </button>
  <button (click)="suivant()" class="btnsuivant">
    <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
  </button>
</div>
