@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.input-comment{
  margin-left: 29px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.25em;
}
::ng-deep .mat-select{
  padding: 5px;
  width: 196px !important;
  height: 33px !important;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
}
.select {
  display: flex;
  flex-wrap: wrap;
}
label {
  margin: 22px 12px 0px 0px;
}

.col-form-row{
  display: flex;
  flex-direction: row;
}

::ng-deep .mat-form-field-infix{
  margin-right: 10px !important;
  width: 195px !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  width: 401px !important;
}
::ng-deep .mat-select-value {
  padding: 2px;
}
::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 10px !important;
}
