@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.add-pole{
display: flex;
flex-direction: column;
}
span{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.25px;
}

.btn{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.btn-delete{
  width: 96px;
  height: 46px;
  border-radius: 8px;
  background-color:#f7485e;
  color: white;
  cursor: pointer;
  border-color: #f7485e;;
}
.btn-cancel{
  width: 96px;
  height: 46px;
  border-radius: 8px;
  background-color:#e1e6e1;
  cursor: pointer;
  border-color: #e1e6e1;
}
