<div class="add-pole">
  <span>Etes vous sur de vouloir supprimer cet utilisateur?</span>
</div>
<div class="btn">
  <button class="btn-cancel" type="button" (click)="onClose()">
    Annuler
  </button>
  <button class="btn-delete" type="submit" (click)="deleteUser()">CONFIRMER</button>
</div>
