<form
  class="form-horizontal"
  id="add-form"
  [formGroup]="editUserForm"
  (ngSubmit)="onUserFormSubmit(editUserForm.value)"
>
  <h3>Editer Mon Profil</h3>
  <div class="add-user">

    <span>Adresse e-mail</span>
    <input type="text" formControlName="email" [readonly]="true"/>
    <span>Prénom</span>
    <input type="text" formControlName="prenom" />
    <span>Nom</span>
    <input type="text" formControlName="nom" />

  </div>
  <div class="btn">
      <button class="btn-cancel" type="button" (click)="onClose()">
          ANNULER
        </button>
    <button class="btn-creat" type="submit">EDITER</button>
  </div>
</form>
