@import "colors";

@mixin btn-valider($width) {
    background-color: $pink;
    width: $width;
    position: absolute;
    color: $white;
    letter-spacing: 1px;
    color: $secondary--color;
    border-color: $pink;
  }