@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";

.italic {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1.3px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 0px;
}
.etatCv {
  width: 608px;
  font-family: $style;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1.5px;
}

::ng-deep .mat-progress-bar .mat-progress-bar-element,
.mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #e1e6e1;
}
h3 {
  color: $blue;
  letter-spacing: 1.5px;
  font-size: 24px;
  margin-bottom: 40px;
}
h4 {
  color: $blue;
  font-size: 16px;
  letter-spacing: 1.3px;
}
h2 {
  font-family: $style;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}
.icon-view,
.icon-svg {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
  margin-left: auto;
  margin-right: auto;
  width: 101%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
.show-top {
  position: absolute;
  top: 23px;
  right: 90px;
  margin-top: 16px;
}
.save-top {
  margin-top: 29px;
}
.save-top,
.show-top {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $light-grey;
}
label,
h3,
h6,
h4,
h2,
.italic {
  font-family: $style;
  font-weight: 500;
}
form {
  margin: 70px 20%;
}
.step {
  margin-left: 16px;
}
label {
  color: $black;
  font-size: 16px;
  letter-spacing: 1.3px;
}
.mat-form-field {
  display: flex;
}
::ng-deep .mat-form-field-underline {
  width: 0 !important;
  pointer-events: none;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 36px;
  color: rgba(155, 155, 155, 0.5);
  float: left;
  width: 387px;
  margin-right: 10%;
}

.rubriques {
  text-align: right;
  top: 195px;
  position: absolute;
  right: 0px;
  margin-right: 40px;
  width: 150px;
}

.rubrique {
  cursor: pointer;
  font-family: $style;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: none;
  border: none;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 3px;
  background-color: $light-grey;
  font-weight: 500;
}
.svgmark {
  filter: brightness(0) invert(1);
}
.svgcross {
  filter: invert(0.5);
  vertical-align: middle;
}

.btn {
  padding: 10px;
}
.btnsuivant,
.btnprecedent {
  font-weight: 500;
  font-family: $style;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 167px;
  height: 46px;
  border-radius: 8px;
}
.btnsuivant {
  @include btn-valider(155px);
  right: 45px;
  padding: 0px 23px 25px 24px;
}
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.date {
  margin: 9px 5px 20px 2px;
  display: flex;
  width: 102px !important;
  height: 25px;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
}
.suivant,
.precedent {
  font-family: $style;
  position: absolute;
  font-size: 14px;
}
.suivant {
  padding: 4px;
}
.chevron-right {
  filter: brightness(0) invert(1);
  padding-left: 36px;
  position: absolute;
}
.btnprecedent {
  float: left;
  background-color: $light-grey;
}
.precedent {
  margin: 4px 39px;
}
.chevron-left {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-input-element {
  max-width: 195% !important;
  width: 385px !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
}
button:disabled,
button[disabled] {
  opacity: 0.2;
}

::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 0 !important;
}

::ng-deep .mat-error {
  font-weight: 500;
}
