@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.mois {
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  padding: 4px;
  width: 45px;
  margin: 14px 7px 23px 0px;
  height: 26px;
  margin-right: 7px;
  width: 39px !important;
}
.mat-checkbox {
  margin: 19px;
}
::ng-deep .mat-checkbox-frame {
  border-color: $light-grey;
}
.date {
  margin: 15px 1px 30px 0;
  display: block;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  padding: 4px;
  width: 53px;
  width: 60px !important;
}
.input-date {
  display: flex;
}
.center {
  margin: 20px 5px;
}

.repeat {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Roboto;
  font-size: 16px;
  color: #114b5f;
  padding: 10px;
  width: 389px;
  border-color: rgba(155, 155, 155, 0.5);
  border-style: dotted;
  border-radius: 8px;
  background-color: #ffffff;
  letter-spacing: 1.3px;
}
.separator {
  color: rgba(155, 155, 155, 0.5);
  margin-bottom: 4%;
}
textarea {
  margin-top: 8px !important;
  padding-left: 11px;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  width: 377px;
  height: 49px;
  margin: 7px 0px 25px 0px;
  font-size: 14px !important;
  letter-spacing: 1px;
  font-family: roboto !important;
}
label {
  display: flex;
  width: 213px;
}
::ng-deep .mat-form-field-infix {
  width: 207px !important;
}
