<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

    <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img
        src="/assets/images/save.svg" class="icon-svg"></button>
  </div>
  <p class="etatCv">Incomplet - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>
  <app-progressBar></app-progressBar>
  <form [formGroup]="experienceForm" *ngIf="cv">

    <h3>Expériences</h3>

    <div class="step" formArrayName="experiences">
      <div *ngFor="let experience of getExperience(experienceForm); let i = index">
        <div [formGroupName]="i">
          <label>Dates</label>
          <div class="input-date">
            <input matInput type="number" class="mois" min="1" max="12" formControlName="moisExperiencedeb">
            <input matInput type="number" class="date" min="1990" max="2050" formControlName="anneesExperiencedeb">
            <div class="center">-</div>
            <input [attr.disabled]="chkEnable.checked == true ? true : null" matInput type="number" class="mois" min="1"
              max="12" formControlName="moisExperiencefin">
            <input [attr.disabled]="chkEnable.checked == true ? true : null" matInput type="number" class="date"
              min="1990" max="2050" formControlName="anneesExperiencefin">
            <mat-checkbox #chkEnable ngModel (click)="getDateExpereince()" formControlName="anneeCourante">
              Aujourd'hui</mat-checkbox>
          </div>

          <label>Entreprise </label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="entreprise">
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>

          <label>Intitulé du poste</label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="poste">
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>

          <label>Intitulé du projet</label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="projet">
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field>
            <label>Environnement technique</label>
            <textarea matInput formControlName="technique" type="text"></textarea>
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field>
            <label>Description</label>
            <textarea matInput formControlName="description" type="text"></textarea>
            <mat-error>Le champ est obligatoire</mat-error>
          </mat-form-field>

          <div class="separator">
            ----------------------------------------------------------------------------------------
          </div>
        </div>
      </div>
      <div>
        <button (click)="addExperience()" class="repeat"><img src="/assets/images/plus.png">
          Ajouter une expérience supplémentaire</button>
      </div>
    </div>
  </form>
  <div>
  <cv-navigation name="experience"></cv-navigation>
</div>
</div>
<div class="btn">
  <button (click)="precedent()" class="btnprecedent">
    <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
  </button>
  <button (click)="suivant()" class="btnsuivant">
    <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
  </button>
</div>
