<form
  class="form-horizontal"
  id="add-form"
  [formGroup]="editPoleForm"
  (ngSubmit)="onPoleEditFormSubmit(editPoleForm.value)"
>
  <h3>Renommer le pôle</h3>
  <div class="add-pole">
    <span>Nom</span>
    <input type="text" formControlName="name" value="{{name}}" />
  </div>
  <div class="btn">
      <button class="btn-cancel" type="button" (click)="onClose()">
        Annuler
      </button>
      <button class="btn-creat" type="submit">Renommer</button>
    </div>
</form>
