@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.row {
  display: flex;
  flex-direction: row;
}
h6 {
  color: $pink;
  padding: 10px 10px;
}
.date {
  margin: 15px 1px 30px 0;
  display: block;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  padding: 4px;
  width: 80px;
}
.repeat {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Roboto;
  font-size: 16px;
  color: #114b5f;
  padding: 10px;
  width: 389px;
  border-color: rgba(155, 155, 155, 0.5);
  border-style: dotted;
  border-radius: 8px;
  background-color: #ffffff;
  letter-spacing: 1.3px;
}
.separator {
  color: rgba(155, 155, 155, 0.5);
  margin-bottom: 4%;
}
.mat-select {
  padding: 5px;
  width: 85px;
  height: 20px;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
}