<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

    <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img src="/assets/images/save.svg" class="icon-svg"></button>
  </div>

  <p class="etatCv">Incomplet - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>
  <app-progressBar></app-progressBar>
  <form [formGroup]="certificationForm" *ngIf="cv">

    <div class="row">
      <h3>Certifications</h3>
      <h6>(section optionnelle)</h6>
    </div>

    <div class="step" formArrayName="certifications">
      <div *ngFor="let certification of getCertification(certificationForm); let i = index">
        <div [formGroupName]="i">
          <label>Années</label>
          <input matInput class= "date" formControlName="anneescertif" type="number"  min="1" max="10">

          <label>Oraganisme</label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="organisme">
          </mat-form-field>

          <label>Intitulé de la certification</label>
          <mat-form-field appearance="outline">
            <input matInput class="input" formControlName="certif">
          </mat-form-field>

          <div class="separator">
            -----------------------------------------------------------------------------------------
          </div>
        </div>
      </div>
      <div>
        <button (click)="addCertification()" class="repeat"><img src="/assets/images/plus.png">
          Ajouter un diplôme supplémentaire</button>
      </div>
    </div>
  </form>
<div>
  <cv-navigation name="certification"></cv-navigation>
</div>
</div>
<div class="btn">
  <button (click)="precedent()" class="btnprecedent">
    <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
  </button>
  <button (click)="suivant()" class="btnsuivant">
    <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
  </button>
</div>
