@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.btnsvg {
  @include btn-valider(180px);
  right: 45px;
  font-weight: 500;
}
.btnshow,
.btnsvg{
  padding: 1px 16px 28px 18px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 46px;
  border-radius: 8px;
  font-size: 14px;
  font-family: $style;
  cursor: pointer;
  font-weight: 500;
}
.btnshow {
  width: 181px;
  position: absolute;
  right: 250px;
  background-color: $light-grey;
}
.show{
  position: absolute;
  margin: 5px 10px;
  font-size: 14px;
}
.sauvegarde {
  position: absolute;
  margin: 5px 0px;
  font-size: 14px;
}
.icon-show {
  padding-left: 40px;
  position: absolute;
}
.icon-save {
  filter: brightness(0) invert(1);
  padding-left: 50px;
  fill: $secondary--color;
  position: absolute;
}
label {
  margin: 10px 12px 0px 0px;
  color: $black;
  font-size: 16px;
  letter-spacing: 1.3px;
}
.column {
  display: flex;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
}
h6{
  font-family: $style;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: $pink;
}
.step{
  margin-left: 3px;
}

