<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

    <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img src="/assets/images/save.svg" class="icon-svg"></button>
  </div>
  <p class="etatCv">Incomplet - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>

  <app-progressBar></app-progressBar>
  <form [formGroup]="loisirForm" *ngIf="cv">
    <h3>Loisirs</h3>
    <h6>Cette section est optionnelle.</h6>
    <div class="step" formArrayName="loisirs">
      <div *ngFor="let currentLoisir of getLoisirs(loisirForm); let i = index">
        <div [formGroupName]="i">
          <div class="column">
            <label>{{ i + 1 }}.</label>
            <mat-form-field appearance="outline">
              <input matInput class="input" formControlName="loisir">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
<cv-navigation name="loisir"></cv-navigation>
</div>
<div class="btn">
  <button (click)="precedent()" class="btnprecedent">
    <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
  </button>
  <button class="btnshow">
    <div class="show">VISUALISER</div><img src="/assets/images/view.svg" class="icon-show">
  </button>
  <button class="btnsvg" (click)="sauvegardeCv()">
    <div class="suivant">SAUVEGARDER</div><img src="/assets/images/save.svg" class="icon-save">
  </button>
</div>
