<form
  class="form-horizontal"
  id="add-form"
  [formGroup]="editUserForm"
  (ngSubmit)="onUserFormSubmit(editUserForm.value)"
>
  <h3>Editer Profil</h3>
  <div class="add-user">

    <span>Adresse e-mail</span>
    <input type="text" formControlName="email" [readonly]="true"/>
    <span>Prénom</span>
    <input type="text" formControlName="prenom" />
    <span>Nom</span>
    <input type="text" formControlName="nom" />
    <span>Pôle</span>
    <mat-form-field>
      <mat-select formControlName="pole" class="pole-select">
        <mat-option *ngFor="let pole of poles" [value]="pole.id" >
          {{pole.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="btn">
    <button class="btn-cancel" type="button" (click)="onClose()">
      ANNULER
    </button>
    <button class="btn-creat" type="submit">EDITER</button>
  </div>
</form>
