<form
  class="form-horizontal"
  id="add-form"
  [formGroup]="addNewPoleForm"
  (ngSubmit)="onPoleFormSubmit(addNewPoleForm.value)"
>
  <h3>Créer un nouveau pôle</h3>
  <div class="add-pole">
    <span>Nom</span>
    <input type="text" formControlName="name" />
  </div>
  <div class="btn">
    <button class="btn-cancel" type="button" (click)="onClose()">
      ANNULER
    </button>
    <button class="btn-creat" type="submit">AJOUTER</button>
  </div>
</form>
