<div class="content">
    <div class="button">
      <h2>Mon CV</h2>
      <app-visualisationCv></app-visualisationCv>
      <button class="save-top" (click)="sauvegardeCv()"><img
          src="/assets/images/save.svg" class="icon-svg"></button>
    </div>
    <p class="etatCv">Incomplet - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>
    <app-progressBar></app-progressBar>
    <form [formGroup]="technologieForm">
      <h3>Technologies</h3>
      <div class="step">
        <h4>Langages</h4>
        <label>Langages principaux :</label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="langageP">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
        <label>Langages secondaires :</label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="langageS">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
        <label>
          <h4>Base de données</h4>
        </label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="baseDonnee">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
        <label>
          <h4>Méthodologies</h4>
        </label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="methodologie">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
        <label>
          <h4>Frameworks</h4>
        </label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="framework">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
        <label>
          <h4>Gestionnaires de versions</h4>
        </label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="git">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
        <label>
          <h4>Gestionnaires de builds</h4>
        </label>
        <mat-form-field appearance="outline">
          <input matInput class="input" formControlName="build">
          <mat-error>le champ est obligatoire</mat-error>
        </mat-form-field>
      </div>
    </form>
    <div>
    <cv-navigation name="technologie"></cv-navigation>
  </div>
  </div>
  <div class="btn">
    <button (click)="precedent()" class="btnprecedent">
      <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
    </button>
    <button (click)="suivant()" class="btnsuivant">
      <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
    </button>
  </div>
