@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

table {
  width: 50%;
  margin-left: 40px;
  box-shadow: none;
}

.mat-row:hover {
  cursor: pointer;
}

[mat-row].remove-background {
  background: none ;
}
.user {
  padding-left: 10px;
}

tr:hover td {
  cursor: pointer;
  background-color: $light-grey;
  color: $blue;
  .tdpole {
    background-color: $blue;
    color: white;
  }
}
th.mat-header-cell {
  font-size: 18px;
  letter-spacing: 2.1px;
  font-family: Roboto;
  font-weight: 500;
  color: black;
  border-bottom: 3px solid $pink;
}
td.mat-cell {
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 1.6px;
}
th.mat-header-cell {
  padding-right: 30px;
}
.mat-menu {
  height: 64px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
hr{
  background-color: #e1e6e1;
  width: 2px;
  position: absolute;
  height: 50%;
}
