<div class="flex-d justify-content-column">
<hr class="line" />
  <div class="table">
    <table mat-table [dataSource]="filterUsers" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
        <td mat-cell *matCellDef="let user">
            <div class="user">{{ user.prenom }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let user">
            <div class="user">{{ user.nom }}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

