<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
  integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
  crossorigin="anonymous"
/>
<div class="inscription container">
  <div class="row">
    <div
      class="inscription-container col-12 d-flex flex-column justify-content-center align-items-center"
    >
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-center flex-column align-items-center">
      <img src="/assets/images/logo.png" alt="logo" />

      <h1 class="text-center my-4 inscription-title">CV’Factory</h1>
    </div>
      <hr class="line" />
      <!-- step verification information -->
      <ng-container *ngIf="currentStep === 'firstStep'">
        <div
          class="verification-info d-flex flex-column justify-content-center align-items-center"
        >
          <h1 class="verification-info__title text-center">
            Vérification des informations
          </h1>
          <div class=" d-flex flex-column">
            <label class="mb-3">Prénom</label>
            <input type="text" formControlName="prenom" class="form-control" class="verification-info__input" />
          </div>


          <div class="mt-4 d-flex flex-column">
            <label class="mb-3">Nom</label>
            <input type="text" formControlName="nom" class="form-control" class="verification-info__input" />
          </div>
          <div class="mt-4 d-flex flex-column">
            <label class="mb-3">Adresse e-mail</label>
            <input type="text" formControlName="email" class="form-control" class="verification-info__input" />
          </div>
          <div class="mt-4 mr-4 d-flex flex-column pole" >
            <label class="mb-3">Pôle</label>
            <mat-form-field>
              <mat-select formControlName="pole" class="pole-select" >
                <mat-option *ngFor="let pole of poles" [value]="pole.id">
                  {{pole.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-end align-items-end w-100 mt-5">
            <button (click)="nextStep()">
              SUIVANT
              <img src="/assets/images/chevron-right.svg" />
            </button>
            </div>
        </div>
      </ng-container>

      <!-- step password -->

      <ng-container *ngIf="currentStep === 'secondStep'">
        <div
          class="verification-info d-flex flex-column justify-content-start "
        >
          <h1 class="verification-info__title text-center align-items-center d-flex justify-content-center">Mot de passe</h1>
          <div class="d-flex justify-content-start flex-column">
          <label class="mb-3">Mot de passe</label>
          <mat-form-field>
              <input matInput formControlName="password" required class="password" type="password">
              <mat-error *ngIf="registerForm.hasError('required', 'password')">
                Please enter your newpassword
              </mat-error>
            </mat-form-field>
            <label class="mb-3">Confirmation du mot de passe</label>
            <mat-form-field>
              <input matInput formControlName="confirmPassword" [errorStateMatcher]="matcher" class="password" type="password" >
                <mat-error *ngIf="registerForm.hasError('notSame')">
                Passwords do not match
              </mat-error>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-end align-items-end w-100 mt-5">
            <button >
              SUIVANT
              <img src="/assets/images/chevron-right.svg" />
            </button>
          </div>
        </div>
      </ng-container>

       <!-- final step -->
       <ng-container *ngIf="currentStep === 'finalStep'">
          <div
            class="verification-info d-flex flex-column justify-content-center align-items-center"
          >
            <p class="text-center">un email de confirmation vous a été envoyé, veuillez confirmer votre inscription</p>
            <div class="d-flex justify-content-center align-items-center w-100 mt-5 ">
                <button class="ml-5 w-20 mt-5"  [routerLink]="['/login']" >
                    LOGIN
                </button>
              </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
