@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.date {
  margin: 15px 1px 6px 0;
  display: block;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  padding: 4px;
  height: 25px;
  width: 80px !important;
}
.btnnext {
  height: 46px;
  font-weight: 500;
  font-family: $style;
  border-color: $pink;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #f7485e;
  width: 155px;
  color: #ffffff;
  letter-spacing: 1px;
  float: right;
  border-radius: 8px;
  padding: 0px 23px 25px 24px;
}

.textarea {
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
  height: 210px;
  padding: 11px;
  font-size: 14px !important;
  letter-spacing: 1px;
  font-family: roboto !important;
}
.mat-select {
  padding: 5px;
  width: 85px;
  height: 20px;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
}

p{
  width: 301px;
}

