<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

   <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img
        src="/assets/images/save.svg" class="icon-svg"></button>
  </div>
  <p class="etatCv">{{etat}} - Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }}.</p>
<app-progressBar></app-progressBar>

  <form [formGroup]="aproposForm">

    <h3>A propos</h3>

    <div class="step">

      <label>Titre</label>
      <mat-form-field appearance="outline">
        <input matInput class="input" formControlName="titre">
        <mat-error *ngIf="aproposForm.controls['titre']?.errors?.required">Le champ est obligatoire</mat-error>
      </mat-form-field>



      <mat-form-field>
        <label>Année d'expérience</label>
        <input matInput class="input" class="date" formControlName="anexperience" type="number" min="1" max="40">
        <mat-error *ngIf="aproposForm.controls['anexperience']?.errors?.required">Le champ est obligatoire</mat-error>
      </mat-form-field>



      <mat-form-field>
        <label>A propos</label>
        <p class="italic">Ecris un petit paragraphe à ton propos.</p>
        <textarea matInput formControlName="description" type="text" class="textarea">
        </textarea>
        <mat-error *ngIf="aproposForm.controls['description']?.errors?.required">Le champ est obligatoire</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div>
  <cv-navigation name="apropos"></cv-navigation>
</div>
</div>
<div class="btn">
  <button (click)="suivant()" class="btnnext">
    <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
  </button>
</div>

