<div *ngIf="!userLoginService.sucessToLogin ;else other_content">
  <router-outlet></router-outlet>
</div>
<ng-template #other_content>
    <div class="app">
        <div class="app__nav">
              <app-side-nav></app-side-nav>
        </div>

          <div class="app__content">

              <router-outlet></router-outlet>
          </div>
      </div>
</ng-template>

<!-- <app-inscription></app-inscription> -->
