<div class="side-nav" *ngIf="userService.currentUser">
  <div class="glyphicon-logo" >
      <img src="/assets/images/logo.png">
  </div>
  <h3>CV’Factory</h3>
  <mat-list>
    <div class="rectangle">
      <img src="assets/images/Icon.png" class="glyphicon">
      <div class="bienvenue">Bienvenue {{userService.currentUser.prenom}} {{userService.currentUser.nom}}</div>
    </div>
    <div class="list-item">
    <a mat-list-item [routerLink]="['cv/apropos']" (click)="monCv()" (click)="loadProgressBar()">
      <img src="assets/images/cv.png">
      <div class="menu">Mon CV</div>
    </a>
    <a mat-list-item [routerLink]="['/list']">
      <img src="assets/images/tousCV.png">
      <div class="menu">Tous les CVs</div>
    </a>
    <a mat-list-item [routerLink]="['/profil']">
      <img src="assets/images/user settings.png">
      <div class="menu">Profil</div>
    </a>
    <a mat-list-item [routerLink]="['pole/list']" *ngIf="userService.currentUser.role === role.ADMIN">
      <img src="assets/images/poles.svg" class="icon-pole">
      <div class="menu">Gestion des pôles</div>
    </a>
    <a mat-list-item [routerLink]="['user/listUtilisateur']" *ngIf="userService.currentUser.role === role.ADMIN">
      <img src="assets/images/users.svg" class="icon-pole">
      <div class="menu">Gestion des utilisateurs</div>
    </a>
    <a mat-list-item (click)="logout()">
      <img src="assets/images/Log out.png">
      <div class="menu">Déconnexion</div>
    </a>
  </div>
  </mat-list>
</div>
