.side-nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: #114b5f;
}
.icon-pole{
  filter: invert(30%) sepia(50%) saturate(2878%) hue-rotate(322deg) brightness(86%) contrast(99%);
}
.side-nav h3,
.side-nav a,
.side-nav div {
  color: #ffffff;
  text-decoration: none;
}
.glyphicon-logo {
  margin: 30px 30px 10px 75px;
}
h3 {
  font-size: 18px;
  letter-spacing: 7px;
  margin-left: 37px;
}
.rectangle {
  border-top: solid 1px white;
  border-bottom: solid 1px rgba(225, 230, 225, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
}
.bienvenue {
  width: 112px;
  margin: 12px 70px 15px;
  font-size: 18px;
  letter-spacing: 2.3px;
}
.glyphicon {
  position: absolute;
  top: 192px;
  left: 15px;
}
*, ::after, ::before {
  box-sizing: content-box !important;
}
.container {
  max-width: 100% !important;
  padding-right: 0 !important;
}
.menu {
  letter-spacing: 1.1px;
  padding-left: 12px;
  margin: 15px 22px;
  cursor: pointer;
}
.list-item {
  margin: 15px;
}
