<form
  class="form-horizontal"
  id="add-form"
  [formGroup]="addNewUserForm"
  (ngSubmit)="onUserFormSubmit(addNewUserForm.value)"
>
  <h3>Ajouter un utilisateur</h3>
  <div class="add-user">
    <span>Prénom</span>
    <input type="text" formControlName="prenom" />
    <span>Nom</span>
    <input type="text" formControlName="nom" />
    <span>Adresse e-mail</span>
    <input type="text" formControlName="email" />
    <span>Pôle</span>
    <mat-form-field>
      <mat-select formControlName="pole" class="pole-select" >
        <mat-option *ngFor="let pole of poles" [value]="pole.id">
          {{pole.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="btn">
    <button class="btn-cancel" type="button" (click)="onClose()">
      Annuler
    </button>
    <button class="btn-creat" type="submit">Ajouter</button>
  </div>
</form>
