<h3>Gestion des pôles</h3>
<div class="grid grid-pad flex-start">
  <button (click)="addNewPole()" class="button-add">AJOUTER</button>
  <div class="row">
  <a *ngFor="let pole of poles; index as i" class="col-1-4" (click)="onSelect(pole)">
    <div class="module pole">
      <h4>{{ pole.name }}</h4>
      <div class="icons">
        <a (click)="editPole(pole)"><mat-icon>edit</mat-icon></a>
        <a (click)="deletePole(pole)"><mat-icon>delete</mat-icon></a>
      </div>
    </div>
  </a>
  <div *ngIf="selectedPole" class="detail-pole">
      <app-details-pole [pole]="selectedPole"></app-details-pole>
  </div>
</div>
</div>
