@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";



[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

a {
  text-decoration: none;
  color: black;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: left;
  margin-bottom: 0;
  color: black;
}

h4 {
  position: relative;
  color: black;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 25%;
}

.module {
  padding: 20px;
  text-align: center;
  max-height: 120px;
  min-width: 120px;
  background: #e1e6e1;
  border-radius: 12px;
}
.module:hover {
  h4,a{
    color: white;
  }
  background-color: #f7485e;
  cursor: pointer;
}

.grid-pad {
  padding: 116px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .module {
      font-size: 10px;
      max-height: 75px;
  }
}

@media (max-width: 1024px) {
  .grid {
      margin: 0;
  }

  .module {
      min-width: 60px;
  }
}
.button-add{
  background: #f7485e;
  color: white;
  font-size: 14px;
  position: absolute;
  width: 95px;
  letter-spacing: 1px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-color: #f7485e;
  top: 36px;
  right: 146px;
}

.icons{
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: flex-end;
}
.flex-start {
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: flex-start;
  height: 100%;
}
.detail-pole{
display: flex;
justify-content: flex-end;
}
.row{
  display: flex;
  justify-content: space-between;
}
