<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
  integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
  crossorigin="anonymous"
/>
<div class="inscription container">
  <div class="row">
    <div
      class="inscription-container col-12 d-flex flex-column justify-content-center align-items-center"
    >
      <img src="/assets/images/logo.png" alt="logo" />
      <h1 class="text-center my-4 inscription-title">CV’Factory</h1>
      <hr class="line" />

        <div
          class="verification-info d-flex flex-column justify-content-center align-items-center mt-4"
        >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class=" d-flex flex-column">
            <label class="mb-3">Adresse e-mail</label>
            <input type="text" formControlName="email" class="form-control" class="verification-info__input" />
          </div>
          <div class="w-100 mb-5 mt-4 d-flex flex-column">
              <label class="mb-3">Mot de passe</label>
              <div class=" w-100 d-flex password">
                  <input type="password" formControlName="password" class="form-control pwd-input w-100" />
              </div>

            </div>
          <div class="d-flex flex-column justify-content-center align-items-center w-100 mt-5">
            <button type="submit">
                CONNEXION
            </button>
            <a class="mt-4" [routerLink]="['/inscription']" >Inscription</a>
          </div>
        </form>
        </div>

    </div>
  </div>
</div>
