@import "src/assets/global/colors";
@import "src/assets/global/library";
.inscription {
  padding-top: 100px;
  &-container {
    .inscription-title {
      width: 252px;
      height: 47px;
      font-size: 40px;
      font-weight: 300;
      color: $white;
    }
    .line {
      background-color: $pink;
      width: 350px;
    }
    .verification-info {
      &__title {
        width: 224px;
        height: 56px;
        font-size: 24px;
        font-weight: bold;
        color: $light-grey;
      }
    }
    .verification-info__input,
    .password {
      width: 350px;
      height: 32px;
      border-radius: 8px;
      border: solid 1px $white;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
    }
    .pwd-input{
      background: transparent;
    border: transparent;
    -webkit-appearance: none;
    font-size: 14px;
    }
    .icon {
      padding: 10px;
      background: transparent;
      min-width: 50px;
      text-align: center;
    }
    label {
      height: 19px;
      font-size: 16px;
      font-weight: 500;
      color: $white;
    }
    button {
      width: fit-content;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: $pink;
      border: 1px solid $pink;
      color: $white;
      img {
        background-size: 24px;
        margin: 0px 0px 0px 10px;
        filter: brightness(0) invert(1);
        width: 18px;
        height: 18px;
      }
    }
    a{
      color: $pink;
      text-decoration: underline;
      font-size: 16px;
    }
    .plus-tard{
      width: 129px;
      height: 46px;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: rgba(225, 230, 225, 0.2);
      border: 1px solid rgba(225, 230, 225, 0.2);
    }
  }
  p{
    width: 287px;
    height: 48px;
    font-size: 20px;
    color: #e1e6e1;
  }
  .form-control{
    height: 30px;
  }
}
