@import "../../assets/global/colors";
@import "../../assets/global/mixins";
@import "../../assets/global/button";
@import "../../assets/global/library";

table {
  padding: 7px;
  width: 100%;
  box-shadow: none;
}
.user {
  padding-left: 10px;
}
.ng-star-inserted test {
  width: 100%;
}
.pole {
  border: none;
  padding: 10px;
  letter-spacing: 3px;
  font-size: 14px;
  font-family: $style2;
  background-color: $light-grey;
  border-radius: 8px;
  margin: 0px 0px 23px 8px;
  display: inline-flex !important;
}
.tdpole {
  font-size: 14px;
  background-color: $light-grey;
  border-radius: 8px;
  padding: 10px;
  display: inline-flex !important;
  margin-right: 100px;
}
tr:hover td {
  cursor: pointer;
  background-color: $light-grey;
  color: $blue;
  .tdpole {
    background-color: $blue;
    color: white;
  }
}
th.mat-header-cell {
  font-size: 18px;
  letter-spacing: 2.1px;
  font-family: Roboto;
  font-weight: 500;
  color: black;
  border-bottom: 3px solid $pink;
}
td.mat-cell {
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 1.6px;
}
th.mat-header-cell {
  padding-right: 30px;
}
.mat-menu {
  width: 154px;
  height: 64px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
::ng-deep .mat-sort-header-sorted {
  background-color: $pink;
  border-radius: 8px;
  color: white;
}
::ng-deep .mat-sort-header-arrow {
  color: white;
  margin: 0px 100px 0px 6px;
}
::ng-deep .mat-sort-header-container {
  padding: 10px;
  display: inline-flex !important;
}
tr.mat-footer-row,
tr.mat-row {
  height: 58px;
}
.mat-menu-item {
  background-color: $light-grey;
  font-size: 14px;
  font-family: $style2;
  color: $blue;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-bottom: solid 1px #ffffff;
}

::ng-deep .custom {
  padding: 0% !important;
  background-color: $light-grey;
}

::ng-deep .mat-menu-content {
  padding: 0 !important;
}
::ng-deep .mat-sort-header-button {
  letter-spacing: 2.1px;
}
.search {
  right: 45px;
  position: absolute;
  top: 76px;
}
.form-control {
  padding-left: 11px;
  width: 202px;
  height: 30px;
  border-radius: 8px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px $light-grey;
  background-color: #ffffff;
}
.material-icons{
  position: absolute;
  top: 5px;
  right: 10px;
  filter: invert(0.5);
}
.sort{
  display: flex;
  flex-direction: row;
}
