<div class="ng-star-inserted test">
  <div class="header">
    <h2>Tous les CVs</h2>
  </div>
  <div class="sort" >
    <button class="pole" >tous</button>
    <div *ngFor="let pole of poles; index as i">
    <button class="pole" >{{pole.name}}</button>
    </div>
  </div>
  <div class="search">
    <i class="material-icons">search</i>
    <input
      class="form-control"
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
    />
  </div>
  <div class="table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
        <td mat-cell *matCellDef="let user">
          <div class="user">{{ user.prenom }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let user">
          <div class="user">{{ user.nom }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="pole">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pôles</th>
        <td mat-cell *matCellDef="let user">
          <div class="user" >
            <div class="tdpole">{{ user.poleName }}</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Dernière mise à jour
        </th>
        <td mat-cell *matCellDef="let user">
          <div class="user">
            {{ user.cvs[0].updateDate | date: "dd/MM/yyyy" }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="star" stickyEnd class="star">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [class]="'custom'">
            <button mat-menu-item (click)="openViewCvDialog(user)">
              <span>Voir</span>
             </button>
            <button *ngIf="userService.currentUser.role === role.ADMIN"
              mat-menu-item
              [routerLink]="['/cv/apropos']" (click)="loadCv(user)" (click)="loadProgressBar()"
            >
              <span>Editer</span>
            </button>
           <!--  <button mat-menu-item>
              <span>Demander la mise à jour du CV</span>
            </button> -->
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
