<div class="content">
  <div class="button">
    <h2>Mon CV</h2>

    <app-visualisationCv></app-visualisationCv>
    <button class="save-top" (click)="sauvegardeCv()"><img
        src="/assets/images/save.svg" class="icon-svg"></button>
  </div>

  <p class="etatCv">Incomplet- Dernière modification le {{cv.updateDate | date:"dd/MM/yyyy" }} .</p>

  <app-progressBar></app-progressBar>
  <form [formGroup]="competenceForm" *ngIf="cv">

    <h3>Compétences</h3>
    <div class="col-form-label">Diagramme de compétences</div>
    <div class="step" formArrayName="mandatoryCompetences">
      <div *ngFor="let mandatoryCompetence of getMandatoryCompetence(competenceForm); let i = index">
        <div [formGroupName]="i">
          <div class="column">
            <label> {{ i + 1 }}. </label>
            <mat-form-field appearance="outline">
              <input matInput class="input" formControlName="label">
              <mat-error>Le champ est obligatoire</mat-error>
            </mat-form-field>
            <input matInput class="note" type="number" min="1" max="10" formControlName="note">
            <label>/10</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-form-chart">
      <div style="display: block" *ngIf="showChart">
        <canvas baseChart [data]="competenceNote" [labels]="competenceLabel" [legend]="polarAreaLegend"
          [colors]="chartColors" [options]="chartOptions" [chartType]="polarAreaChartType">
        </canvas>
      </div>
    </div>
    <div class="col-otherCompetence">
      <div class="col-form-label">Autres Compétences</div>
      <h6>Cette section est optionnelle.</h6>
      <div class="step" formArrayName="otherCompetences">
        <div *ngFor="let otherCompetence of getOtherCompetence(competenceForm); let i = index">
          <div [formGroupName]="i">
            <div class="column">
              <mat-form-field appearance="outline">
                <input matInput class="input" formControlName="label">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
<div>
  <cv-navigation name="competence"></cv-navigation>
</div>
</div>

<div class="btn">
  <button (click)="precedent()" class="btnprecedent">
    <div class="precedent">PRECEDENT</div><img src="/assets/images/chevron-left.svg" class="chevron-left">
  </button>
  <button (click)="suivant()" class="btnsuivant">
    <div class="suivant">SUIVANT</div><img src="/assets/images/chevron-right.svg" class="chevron-right">
  </button>
</div>
