@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";

.col-form-label {
  margin: 36px 16px;
  font-family: $style;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.3px;
}
.column {
  display: flex;
}
label {
  margin: 9px 12px 0px 0px;
  color: $black;
  font-size: 16px;
  letter-spacing: 1.3px;
}
.mat-form-field {
  width: 400px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  height: 40px;
}
::ng-deep .mat-form-field-underline {
  width: 0 !important;
  pointer-events: none;
}

.note {
  margin: 0px 13px;
  width: 33px !important;
  padding: 5px;
  height: 27px;
  border-radius: 8px;
  border: solid 1px rgba(155, 155, 155, 0.5);
}
h6{
  font-family: $style;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: $pink;
  margin-left: 16px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}
.col-otherCompetence{
  margin-left: 24px;
}
.col-form-chart{
  height: 400px;
  width: 700px;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
  margin-left: -73px;
}