<div class="ng-star-inserted test">
  <div class="header">
    <h2>Gestion des utilisateurs</h2>
  </div>

  <div class="pole">tous</div>
  <div class="pole">mobile</div>
  <div class="pole">web</div>
  <div class="pole">projects</div>
  <div class="pole">data</div>
  <div class="pole">test</div>

  <button class="btn-add" (click)="addNewUser()">AJOUTER</button>

  <div class="table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
        <td mat-cell *matCellDef="let user">
          <div class="user"> {{user.prenom}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let user">
          <div class="user"> {{user.nom}}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="pole">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pôles </th>
        <td mat-cell *matCellDef="let user">
          <div class="user">
            <div class="tdpole"> {{user.poleName}}</div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dernière mise à jour </th>
        <td mat-cell *matCellDef="let user">
          <div class="user"> {{user.cvs[0].updateDate | date:"dd/MM/yyyy" }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="star" stickyEnd class="star">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [class]="'custom'">
            <button (click)="editUser(user.email, user)" mat-menu-item>
              <span>Editer</span>
            </button>
            <button (click)="deleteUser(user.email)" mat-menu-item>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
