@import "src/assets/global/colors";
@import "src/assets/global/mixins";
@import "src/assets/global/button";
@import "src/assets/global/library";
@import "src/assets/global/cvForm";
.icon {
  height: 25px;
  width: 29px;
  display: inline-block;
}
.iconCheck {
  background: url("/assets/images/check-mark.svg") no-repeat;
  filter: brightness(0) invert(1);
  margin-bottom: -8px;
}
.iconCross {
  background: url("/assets/images/cross.svg") no-repeat;
  filter: invert(0.5);
  vertical-align: middle;
}
.text {
  display: inline-block;
}
.rubriques {
  text-align: right;
  top: 195px;
  position: absolute;
  right: 0px;
  margin-right: 40px;
}
button {
  cursor: pointer;
  font-family: $style;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: none;
  border: none;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 3px;
  background-color: $light-grey;
  font-weight: 500;
}
