<div class="rubriques">
    <div *ngFor="let rubrique of rubriques">
      <button [routerLink]="rubrique.routerLink"
        [ngStyle]="rubrique.key===name && {background: '#114b5f', color: 'white'}">

          <div [ngClass]="rubrique.iconClass" class="icon"></div>
          <div class="text">{{rubrique.name}}</div>

      </button>
    </div>
  </div>

